@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll::-webkit-scrollbar{
    /* display: none; */
    width: 5px;
    background-color: rgba(128, 128, 128, 0.573);
    border-radius: 1rem;
}